body {
	background: url(pic/backgroundreddragon.jpg) repeat-y ; 
	background-size: 100%;
	background-attachment: fixed;
	font-family: 'Josefin Sans', sans-serif;
}
* {
	margin: 0px;
	padding: 0px;
}
a {
	text-decoration: none;
}
#easteregg {
	width: 10%;
	background: black;
}
.logo {
	background: black;
	background-size: 100%; 
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 0.5%;
	box-sizing: border-box;
}
.lohoH {
	padding: 0.5%;
	max-width: 100%;
	display: block;
	height: auto;
}
header {
	height: 20%;
}
.head {
	background: black;
	display: block;
	text-align: center;
	padding-top: 0.8%;
	padding-bottom: 1%;
	margin-bottom: 0.5%;
}
.head a {
	background-color: black;
	display: inline-block;
	width: 8%;
	margin-right: 7%;
	text-decoration: none;
	font-size: 110%;
	
	color: white;
	padding: 0.5%;
}
.head a:hover {
	border-bottom: 3px solid gold;
	transition: 0.5s;
	color: gold;
}
.head a:active{
	background: url(pic/easteregg.jpg) no-repeat;
	background-size: 90% 90% ;
}
#toTop {
width:6%;
border:2px solid gold;
background:black;
text-align:center;
padding:1%;
position:fixed;
margin: 80% 0.5% 0% 0%;
bottom:10px;
right:10px;
cursor:pointer;
display:none;
color: white;
font-size:110%;
opacity: 0.5;
}
footer {
	background: black;
	display: inline-block;
	color: white;
	width: 100%;
	text-align: center;
	padding: 3%;
	font-size: 140%;
}
.mainC {
	color: white;
	margin-bottom: 5%;
	width: 100%;
	padding: 2%;
	margin-left: 30%; 
}
 h1 {
	color: white;
	text-decoration: underline;
	text-align: center;
	margin-bottom: 3%;
	background: black;
	padding: 2%;
}
.content {
	background: black;
	justify-content: right;
	border: 3px solid gold;
	height: 10%;
	display: flex;
	margin-bottom: 3%;
	margin-left: 2%;
	margin-right: 2%;
	padding: 1%;
	width: 30%;
	cursor: pointer;
}
.content h5{
	color: white;
	font-family: 'Righteous', cursive;
	font-size: 300%;
	padding: 7% 0% 0% 20%;

}
.content:hover {
	border: 3px solid #990000;
}

.show {
	font-size: 120%;
	font-family: 'Josefin Sans', sans-serif;
	padding: 5%;
	position: relative;
	display: none;
	margin:0 auto;
}
.show p{
	position: absolute;
	top:55%;
	left: 15%;
	width: 30%;
	font-size: 120%;
	margin-top: 10px;
}
.show h4 {
	color: gold;
	border-bottom: 2px solid gold;
	position: absolute;
	top:50%;
	left: 15%;
	width: auto;
	font-size: 120%;
	
}

.show img {
	width: 100%;
	height: 100%;
}
@media screen and (max-width: 1440px) {
	.show p{
		width: 40%;
		padding: 1%;
	}
}

@media screen and (max-width: 1050px) {
	.logo img{
		height: auto;
		width: 90%;
	}
	.content img{
		width: 90%;
		height: 90%;
	}
	.show {
		overflow: scroll;
	}
	.content {
		width: 40%;
	}
}
@media screen and (max-width: 768px){
	.show {
		width: 100%;	
	}
	.content {
		width: 70%;
		padding-right: 3%;
	}
	.mainC {
		margin-left: 1%;
	}
}
@media screen and (max-width: 750px) {
	.head a{
		font-size: 80%;
	}
}
@media screen and (max-width: 455px){
	body {
		background-size: cover;
	}
	.head a{
		font-size: 100%;
		margin-bottom: 1%;
		display: block;
		border: 1px solid gold;
		width: 100%;
	}
	.content {
		display: block;
		width: 90%;
	}
	.content img { 					
		width: 90%;
		height: 90%;
	}
	.show img{
		width: 0%;
	}
	.show {
		padding: 50%;
	}
	.show p{
		top: 10%;
		left: 5%
	}
	.show h4 {
		top: 5%;
		left: 5%;
	}
	.mainC {
		margin-left:0%;
	}
}
